<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="false">

    <bean id="xmlBean" class="com.study.ligq.apollo.demo.config.XmlBean">
        <property name="name" value="${test.name}"/>
        <property name="age" value="${test.age}"/>
    </bean>
</beans>
