<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligq.study.mybatis.demo.dao.TBaseAreaCityMapper">
  <resultMap id="BaseResultMap" type="com.ligq.study.mybatis.demo.model.TBaseAreaCity">
    <id column="CURRENT_CODE" jdbcType="VARCHAR" property="currentCode" />
    <id column="CODE_FLAG" jdbcType="CHAR" property="codeFlag" />
    <result column="TELE_CODE" jdbcType="VARCHAR" property="teleCode" />
    <result column="CURRENT_NAME" jdbcType="VARCHAR" property="currentName" />
    <result column="PARENT_CODE" jdbcType="VARCHAR" property="parentCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CURRENT_CODE, CODE_FLAG, TELE_CODE, CURRENT_NAME, PARENT_CODE
  </sql>
  <select id="selectByExample" parameterType="com.ligq.study.mybatis.demo.model.TBaseAreaCityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_base_area_city
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_base_area_city
    where CURRENT_CODE = #{currentCode,jdbcType=VARCHAR}
      and CODE_FLAG = #{codeFlag,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_base_area_city
    where CURRENT_CODE = #{currentCode,jdbcType=VARCHAR}
      and CODE_FLAG = #{codeFlag,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ligq.study.mybatis.demo.model.TBaseAreaCityExample">
    delete from t_base_area_city
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ligq.study.mybatis.demo.model.TBaseAreaCity">
    insert into t_base_area_city (CURRENT_CODE, CODE_FLAG, TELE_CODE, 
      CURRENT_NAME, PARENT_CODE)
    values (#{currentCode,jdbcType=VARCHAR}, #{codeFlag,jdbcType=CHAR}, #{teleCode,jdbcType=VARCHAR}, 
      #{currentName,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ligq.study.mybatis.demo.model.TBaseAreaCity">
    insert into t_base_area_city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="currentCode != null">
        CURRENT_CODE,
      </if>
      <if test="codeFlag != null">
        CODE_FLAG,
      </if>
      <if test="teleCode != null">
        TELE_CODE,
      </if>
      <if test="currentName != null">
        CURRENT_NAME,
      </if>
      <if test="parentCode != null">
        PARENT_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="currentCode != null">
        #{currentCode,jdbcType=VARCHAR},
      </if>
      <if test="codeFlag != null">
        #{codeFlag,jdbcType=CHAR},
      </if>
      <if test="teleCode != null">
        #{teleCode,jdbcType=VARCHAR},
      </if>
      <if test="currentName != null">
        #{currentName,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        #{parentCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ligq.study.mybatis.demo.model.TBaseAreaCityExample" resultType="java.lang.Long">
    select count(*) from t_base_area_city
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_base_area_city
    <set>
      <if test="record.currentCode != null">
        CURRENT_CODE = #{record.currentCode,jdbcType=VARCHAR},
      </if>
      <if test="record.codeFlag != null">
        CODE_FLAG = #{record.codeFlag,jdbcType=CHAR},
      </if>
      <if test="record.teleCode != null">
        TELE_CODE = #{record.teleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.currentName != null">
        CURRENT_NAME = #{record.currentName,jdbcType=VARCHAR},
      </if>
      <if test="record.parentCode != null">
        PARENT_CODE = #{record.parentCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_base_area_city
    set CURRENT_CODE = #{record.currentCode,jdbcType=VARCHAR},
      CODE_FLAG = #{record.codeFlag,jdbcType=CHAR},
      TELE_CODE = #{record.teleCode,jdbcType=VARCHAR},
      CURRENT_NAME = #{record.currentName,jdbcType=VARCHAR},
      PARENT_CODE = #{record.parentCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ligq.study.mybatis.demo.model.TBaseAreaCity">
    update t_base_area_city
    <set>
      <if test="teleCode != null">
        TELE_CODE = #{teleCode,jdbcType=VARCHAR},
      </if>
      <if test="currentName != null">
        CURRENT_NAME = #{currentName,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        PARENT_CODE = #{parentCode,jdbcType=VARCHAR},
      </if>
    </set>
    where CURRENT_CODE = #{currentCode,jdbcType=VARCHAR}
      and CODE_FLAG = #{codeFlag,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ligq.study.mybatis.demo.model.TBaseAreaCity">
    update t_base_area_city
    set TELE_CODE = #{teleCode,jdbcType=VARCHAR},
      CURRENT_NAME = #{currentName,jdbcType=VARCHAR},
      PARENT_CODE = #{parentCode,jdbcType=VARCHAR}
    where CURRENT_CODE = #{currentCode,jdbcType=VARCHAR}
      and CODE_FLAG = #{codeFlag,jdbcType=CHAR}
  </update>
</mapper>