<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligq.study.mybatis.demo.dao.TCreditCiApplyInfoMapper">
  <resultMap id="BaseResultMap" type="com.ligq.study.mybatis.demo.model.TCreditCiApplyInfo">
    <id column="seq_id" jdbcType="VARCHAR" property="seqId" />
    <result column="credit_apply_log_id" jdbcType="VARCHAR" property="creditApplyLogId" />
    <result column="ci_org_code" jdbcType="VARCHAR" property="ciOrgCode" />
    <result column="ci_result_data" jdbcType="VARCHAR" property="ciResultData" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    seq_id, credit_apply_log_id, ci_org_code, ci_result_data, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.ligq.study.mybatis.demo.model.TCreditCiApplyInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_credit_ci_apply_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_credit_ci_apply_info
    where seq_id = #{seqId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_credit_ci_apply_info
    where seq_id = #{seqId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ligq.study.mybatis.demo.model.TCreditCiApplyInfoExample">
    delete from t_credit_ci_apply_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ligq.study.mybatis.demo.model.TCreditCiApplyInfo">
    insert into t_credit_ci_apply_info (seq_id, credit_apply_log_id, ci_org_code, 
      ci_result_data, create_time, update_time
      )
    values (#{seqId,jdbcType=VARCHAR}, #{creditApplyLogId,jdbcType=VARCHAR}, #{ciOrgCode,jdbcType=VARCHAR}, 
      #{ciResultData,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ligq.study.mybatis.demo.model.TCreditCiApplyInfo">
    insert into t_credit_ci_apply_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        seq_id,
      </if>
      <if test="creditApplyLogId != null">
        credit_apply_log_id,
      </if>
      <if test="ciOrgCode != null">
        ci_org_code,
      </if>
      <if test="ciResultData != null">
        ci_result_data,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        #{seqId,jdbcType=VARCHAR},
      </if>
      <if test="creditApplyLogId != null">
        #{creditApplyLogId,jdbcType=VARCHAR},
      </if>
      <if test="ciOrgCode != null">
        #{ciOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="ciResultData != null">
        #{ciResultData,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ligq.study.mybatis.demo.model.TCreditCiApplyInfoExample" resultType="java.lang.Long">
    select count(*) from t_credit_ci_apply_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_credit_ci_apply_info
    <set>
      <if test="record.seqId != null">
        seq_id = #{record.seqId,jdbcType=VARCHAR},
      </if>
      <if test="record.creditApplyLogId != null">
        credit_apply_log_id = #{record.creditApplyLogId,jdbcType=VARCHAR},
      </if>
      <if test="record.ciOrgCode != null">
        ci_org_code = #{record.ciOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.ciResultData != null">
        ci_result_data = #{record.ciResultData,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_credit_ci_apply_info
    set seq_id = #{record.seqId,jdbcType=VARCHAR},
      credit_apply_log_id = #{record.creditApplyLogId,jdbcType=VARCHAR},
      ci_org_code = #{record.ciOrgCode,jdbcType=VARCHAR},
      ci_result_data = #{record.ciResultData,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ligq.study.mybatis.demo.model.TCreditCiApplyInfo">
    update t_credit_ci_apply_info
    <set>
      <if test="creditApplyLogId != null">
        credit_apply_log_id = #{creditApplyLogId,jdbcType=VARCHAR},
      </if>
      <if test="ciOrgCode != null">
        ci_org_code = #{ciOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="ciResultData != null">
        ci_result_data = #{ciResultData,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where seq_id = #{seqId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ligq.study.mybatis.demo.model.TCreditCiApplyInfo">
    update t_credit_ci_apply_info
    set credit_apply_log_id = #{creditApplyLogId,jdbcType=VARCHAR},
      ci_org_code = #{ciOrgCode,jdbcType=VARCHAR},
      ci_result_data = #{ciResultData,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where seq_id = #{seqId,jdbcType=VARCHAR}
  </update>
</mapper>