<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligq.study.mybatis.demo.dao.TEdiTransformMapper">
  <resultMap id="BaseResultMap" type="com.ligq.study.mybatis.demo.model.TEdiTransform">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="transform_id" jdbcType="BIGINT" property="transformId" />
    <result column="sys_code" jdbcType="VARCHAR" property="sysCode" />
    <result column="sys_name" jdbcType="VARCHAR" property="sysName" />
    <result column="output_code" jdbcType="VARCHAR" property="outputCode" />
    <result column="output_value" jdbcType="VARCHAR" property="outputValue" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="channel_id" jdbcType="BIGINT" property="channelId" />
    <result column="transfer_company_id" jdbcType="BIGINT" property="transferCompanyId" />
    <result column="basic_parameter_code" jdbcType="VARCHAR" property="basicParameterCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modify_by" jdbcType="BIGINT" property="modifyBy" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="create_by_desc" jdbcType="VARCHAR" property="createByDesc" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
  </resultMap>
</mapper>