<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligq.study.mybatis.demo.dao.TEdiFieldRuleConditionMapper">
  <resultMap id="BaseResultMap" type="com.ligq.study.mybatis.demo.model.TEdiFieldRuleCondition">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="field_rule_id" jdbcType="BIGINT" property="fieldRuleId" />
    <result column="cond_group_id" jdbcType="BIGINT" property="condGroupId" />
    <result column="rule_condition_type" jdbcType="INTEGER" property="ruleConditionType" />
    <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
    <result column="condition" jdbcType="INTEGER" property="condition" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="data_id" jdbcType="BIGINT" property="dataId" />
    <result column="sorted" jdbcType="INTEGER" property="sorted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_by_desc" jdbcType="VARCHAR" property="createByDesc" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modify_by" jdbcType="BIGINT" property="modifyBy" />
    <result column="modify_by_desc" jdbcType="VARCHAR" property="modifyByDesc" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
</mapper>