<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligq.study.mybatis.demo.dao.TGm2CompanyOrgMapper">
  <resultMap id="BaseResultMap" type="com.ligq.study.mybatis.demo.model.TGm2CompanyOrg">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="gm2_company_code" jdbcType="VARCHAR" property="gm2CompanyCode" />
    <result column="nc_company_code" jdbcType="VARCHAR" property="ncCompanyCode" />
    <result column="enabled" jdbcType="TINYINT" property="enabled" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
</mapper>