<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligq.study.mybatis.demo.dao.TLesseeBizMapper">
  <resultMap id="BaseResultMap" type="com.ligq.study.mybatis.demo.model.TLesseeBiz">
    <id column="SEQ_ID" jdbcType="VARCHAR" property="seqId" />
    <result column="LESSEE_ID" jdbcType="VARCHAR" property="lesseeId" />
    <result column="biz_mode" jdbcType="CHAR" property="bizMode" />
    <result column="product_type" jdbcType="CHAR" property="productType" />
    <result column="use_mis" jdbcType="CHAR" property="useMis" />
    <result column="use_sell" jdbcType="CHAR" property="useSell" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SEQ_ID, LESSEE_ID, biz_mode, product_type, use_mis, use_sell
  </sql>
  <select id="selectByExample" parameterType="com.ligq.study.mybatis.demo.model.TLesseeBizExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_lessee_biz
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_lessee_biz
    where SEQ_ID = #{seqId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_lessee_biz
    where SEQ_ID = #{seqId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ligq.study.mybatis.demo.model.TLesseeBizExample">
    delete from t_lessee_biz
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ligq.study.mybatis.demo.model.TLesseeBiz">
    insert into t_lessee_biz (SEQ_ID, LESSEE_ID, biz_mode, 
      product_type, use_mis, use_sell
      )
    values (#{seqId,jdbcType=VARCHAR}, #{lesseeId,jdbcType=VARCHAR}, #{bizMode,jdbcType=CHAR}, 
      #{productType,jdbcType=CHAR}, #{useMis,jdbcType=CHAR}, #{useSell,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ligq.study.mybatis.demo.model.TLesseeBiz">
    insert into t_lessee_biz
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        SEQ_ID,
      </if>
      <if test="lesseeId != null">
        LESSEE_ID,
      </if>
      <if test="bizMode != null">
        biz_mode,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="useMis != null">
        use_mis,
      </if>
      <if test="useSell != null">
        use_sell,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        #{seqId,jdbcType=VARCHAR},
      </if>
      <if test="lesseeId != null">
        #{lesseeId,jdbcType=VARCHAR},
      </if>
      <if test="bizMode != null">
        #{bizMode,jdbcType=CHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=CHAR},
      </if>
      <if test="useMis != null">
        #{useMis,jdbcType=CHAR},
      </if>
      <if test="useSell != null">
        #{useSell,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ligq.study.mybatis.demo.model.TLesseeBizExample" resultType="java.lang.Long">
    select count(*) from t_lessee_biz
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_lessee_biz
    <set>
      <if test="record.seqId != null">
        SEQ_ID = #{record.seqId,jdbcType=VARCHAR},
      </if>
      <if test="record.lesseeId != null">
        LESSEE_ID = #{record.lesseeId,jdbcType=VARCHAR},
      </if>
      <if test="record.bizMode != null">
        biz_mode = #{record.bizMode,jdbcType=CHAR},
      </if>
      <if test="record.productType != null">
        product_type = #{record.productType,jdbcType=CHAR},
      </if>
      <if test="record.useMis != null">
        use_mis = #{record.useMis,jdbcType=CHAR},
      </if>
      <if test="record.useSell != null">
        use_sell = #{record.useSell,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_lessee_biz
    set SEQ_ID = #{record.seqId,jdbcType=VARCHAR},
      LESSEE_ID = #{record.lesseeId,jdbcType=VARCHAR},
      biz_mode = #{record.bizMode,jdbcType=CHAR},
      product_type = #{record.productType,jdbcType=CHAR},
      use_mis = #{record.useMis,jdbcType=CHAR},
      use_sell = #{record.useSell,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ligq.study.mybatis.demo.model.TLesseeBiz">
    update t_lessee_biz
    <set>
      <if test="lesseeId != null">
        LESSEE_ID = #{lesseeId,jdbcType=VARCHAR},
      </if>
      <if test="bizMode != null">
        biz_mode = #{bizMode,jdbcType=CHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=CHAR},
      </if>
      <if test="useMis != null">
        use_mis = #{useMis,jdbcType=CHAR},
      </if>
      <if test="useSell != null">
        use_sell = #{useSell,jdbcType=CHAR},
      </if>
    </set>
    where SEQ_ID = #{seqId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ligq.study.mybatis.demo.model.TLesseeBiz">
    update t_lessee_biz
    set LESSEE_ID = #{lesseeId,jdbcType=VARCHAR},
      biz_mode = #{bizMode,jdbcType=CHAR},
      product_type = #{productType,jdbcType=CHAR},
      use_mis = #{useMis,jdbcType=CHAR},
      use_sell = #{useSell,jdbcType=CHAR}
    where SEQ_ID = #{seqId,jdbcType=VARCHAR}
  </update>
</mapper>