<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligq.study.mybatis.demo.dao.TMarketingCouponTemplateInfoMapper">
  <resultMap id="BaseResultMap" type="com.ligq.study.mybatis.demo.model.TMarketingCouponTemplateInfo">
    <id column="SEQ_ID" jdbcType="VARCHAR" property="seqId" />
    <result column="COUPON_TEMPLATE_NAME" jdbcType="VARCHAR" property="couponTemplateName" />
    <result column="USE_TYPE" jdbcType="CHAR" property="useType" />
    <result column="PERIOD_TYPE" jdbcType="CHAR" property="periodType" />
    <result column="PERIOD_START" jdbcType="VARCHAR" property="periodStart" />
    <result column="PERIOD_END" jdbcType="VARCHAR" property="periodEnd" />
    <result column="DEDUCTION_TYPE" jdbcType="CHAR" property="deductionType" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="DEDUCTION_VALUE" jdbcType="DECIMAL" property="deductionValue" />
    <result column="DEDUCTION_RULE" jdbcType="CHAR" property="deductionRule" />
    <result column="MAX_AMT" jdbcType="DECIMAL" property="maxAmt" />
    <result column="FLOOR_AMT" jdbcType="DECIMAL" property="floorAmt" />
    <result column="PRODUCT_LIST" jdbcType="VARCHAR" property="productList" />
    <result column="PART_USE" jdbcType="CHAR" property="partUse" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="BIGINT" property="createTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="BIGINT" property="updateTime" />
    <result column="use_limit" jdbcType="CHAR" property="useLimit" />
    <result column="FACE_SET_WAY" jdbcType="CHAR" property="faceSetWay" />
    <result column="IS_RETURN" jdbcType="CHAR" property="isReturn" />
    <result column="available_use_count" jdbcType="INTEGER" property="availableUseCount" />
    <result column="front_show" jdbcType="CHAR" property="frontShow" />
    <result column="use_count_limit" jdbcType="CHAR" property="useCountLimit" />
    <result column="FRONT_TEMPLATE_NAME" jdbcType="VARCHAR" property="frontTemplateName" />
    <result column="COUPON_NAME" jdbcType="VARCHAR" property="couponName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SEQ_ID, COUPON_TEMPLATE_NAME, USE_TYPE, PERIOD_TYPE, PERIOD_START, PERIOD_END, DEDUCTION_TYPE, 
    STATUS, DESCRIPTION, DEDUCTION_VALUE, DEDUCTION_RULE, MAX_AMT, FLOOR_AMT, PRODUCT_LIST, 
    PART_USE, REMARK, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME, use_limit, 
    FACE_SET_WAY, IS_RETURN, available_use_count, front_show, use_count_limit, FRONT_TEMPLATE_NAME, 
    COUPON_NAME
  </sql>
  <select id="selectByExample" parameterType="com.ligq.study.mybatis.demo.model.TMarketingCouponTemplateInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_marketing_coupon_template_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_marketing_coupon_template_info
    where SEQ_ID = #{seqId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_marketing_coupon_template_info
    where SEQ_ID = #{seqId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ligq.study.mybatis.demo.model.TMarketingCouponTemplateInfoExample">
    delete from t_marketing_coupon_template_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ligq.study.mybatis.demo.model.TMarketingCouponTemplateInfo">
    insert into t_marketing_coupon_template_info (SEQ_ID, COUPON_TEMPLATE_NAME, USE_TYPE, 
      PERIOD_TYPE, PERIOD_START, PERIOD_END, 
      DEDUCTION_TYPE, STATUS, DESCRIPTION, 
      DEDUCTION_VALUE, DEDUCTION_RULE, MAX_AMT, 
      FLOOR_AMT, PRODUCT_LIST, PART_USE, 
      REMARK, CREATE_USER, CREATE_TIME, 
      UPDATE_USER, UPDATE_TIME, use_limit, 
      FACE_SET_WAY, IS_RETURN, available_use_count, 
      front_show, use_count_limit, FRONT_TEMPLATE_NAME, 
      COUPON_NAME)
    values (#{seqId,jdbcType=VARCHAR}, #{couponTemplateName,jdbcType=VARCHAR}, #{useType,jdbcType=CHAR}, 
      #{periodType,jdbcType=CHAR}, #{periodStart,jdbcType=VARCHAR}, #{periodEnd,jdbcType=VARCHAR}, 
      #{deductionType,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{description,jdbcType=VARCHAR}, 
      #{deductionValue,jdbcType=DECIMAL}, #{deductionRule,jdbcType=CHAR}, #{maxAmt,jdbcType=DECIMAL}, 
      #{floorAmt,jdbcType=DECIMAL}, #{productList,jdbcType=VARCHAR}, #{partUse,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=BIGINT}, #{useLimit,jdbcType=CHAR}, 
      #{faceSetWay,jdbcType=CHAR}, #{isReturn,jdbcType=CHAR}, #{availableUseCount,jdbcType=INTEGER}, 
      #{frontShow,jdbcType=CHAR}, #{useCountLimit,jdbcType=CHAR}, #{frontTemplateName,jdbcType=VARCHAR}, 
      #{couponName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ligq.study.mybatis.demo.model.TMarketingCouponTemplateInfo">
    insert into t_marketing_coupon_template_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        SEQ_ID,
      </if>
      <if test="couponTemplateName != null">
        COUPON_TEMPLATE_NAME,
      </if>
      <if test="useType != null">
        USE_TYPE,
      </if>
      <if test="periodType != null">
        PERIOD_TYPE,
      </if>
      <if test="periodStart != null">
        PERIOD_START,
      </if>
      <if test="periodEnd != null">
        PERIOD_END,
      </if>
      <if test="deductionType != null">
        DEDUCTION_TYPE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="deductionValue != null">
        DEDUCTION_VALUE,
      </if>
      <if test="deductionRule != null">
        DEDUCTION_RULE,
      </if>
      <if test="maxAmt != null">
        MAX_AMT,
      </if>
      <if test="floorAmt != null">
        FLOOR_AMT,
      </if>
      <if test="productList != null">
        PRODUCT_LIST,
      </if>
      <if test="partUse != null">
        PART_USE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="useLimit != null">
        use_limit,
      </if>
      <if test="faceSetWay != null">
        FACE_SET_WAY,
      </if>
      <if test="isReturn != null">
        IS_RETURN,
      </if>
      <if test="availableUseCount != null">
        available_use_count,
      </if>
      <if test="frontShow != null">
        front_show,
      </if>
      <if test="useCountLimit != null">
        use_count_limit,
      </if>
      <if test="frontTemplateName != null">
        FRONT_TEMPLATE_NAME,
      </if>
      <if test="couponName != null">
        COUPON_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        #{seqId,jdbcType=VARCHAR},
      </if>
      <if test="couponTemplateName != null">
        #{couponTemplateName,jdbcType=VARCHAR},
      </if>
      <if test="useType != null">
        #{useType,jdbcType=CHAR},
      </if>
      <if test="periodType != null">
        #{periodType,jdbcType=CHAR},
      </if>
      <if test="periodStart != null">
        #{periodStart,jdbcType=VARCHAR},
      </if>
      <if test="periodEnd != null">
        #{periodEnd,jdbcType=VARCHAR},
      </if>
      <if test="deductionType != null">
        #{deductionType,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="deductionValue != null">
        #{deductionValue,jdbcType=DECIMAL},
      </if>
      <if test="deductionRule != null">
        #{deductionRule,jdbcType=CHAR},
      </if>
      <if test="maxAmt != null">
        #{maxAmt,jdbcType=DECIMAL},
      </if>
      <if test="floorAmt != null">
        #{floorAmt,jdbcType=DECIMAL},
      </if>
      <if test="productList != null">
        #{productList,jdbcType=VARCHAR},
      </if>
      <if test="partUse != null">
        #{partUse,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="useLimit != null">
        #{useLimit,jdbcType=CHAR},
      </if>
      <if test="faceSetWay != null">
        #{faceSetWay,jdbcType=CHAR},
      </if>
      <if test="isReturn != null">
        #{isReturn,jdbcType=CHAR},
      </if>
      <if test="availableUseCount != null">
        #{availableUseCount,jdbcType=INTEGER},
      </if>
      <if test="frontShow != null">
        #{frontShow,jdbcType=CHAR},
      </if>
      <if test="useCountLimit != null">
        #{useCountLimit,jdbcType=CHAR},
      </if>
      <if test="frontTemplateName != null">
        #{frontTemplateName,jdbcType=VARCHAR},
      </if>
      <if test="couponName != null">
        #{couponName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ligq.study.mybatis.demo.model.TMarketingCouponTemplateInfoExample" resultType="java.lang.Long">
    select count(*) from t_marketing_coupon_template_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_marketing_coupon_template_info
    <set>
      <if test="record.seqId != null">
        SEQ_ID = #{record.seqId,jdbcType=VARCHAR},
      </if>
      <if test="record.couponTemplateName != null">
        COUPON_TEMPLATE_NAME = #{record.couponTemplateName,jdbcType=VARCHAR},
      </if>
      <if test="record.useType != null">
        USE_TYPE = #{record.useType,jdbcType=CHAR},
      </if>
      <if test="record.periodType != null">
        PERIOD_TYPE = #{record.periodType,jdbcType=CHAR},
      </if>
      <if test="record.periodStart != null">
        PERIOD_START = #{record.periodStart,jdbcType=VARCHAR},
      </if>
      <if test="record.periodEnd != null">
        PERIOD_END = #{record.periodEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.deductionType != null">
        DEDUCTION_TYPE = #{record.deductionType,jdbcType=CHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.deductionValue != null">
        DEDUCTION_VALUE = #{record.deductionValue,jdbcType=DECIMAL},
      </if>
      <if test="record.deductionRule != null">
        DEDUCTION_RULE = #{record.deductionRule,jdbcType=CHAR},
      </if>
      <if test="record.maxAmt != null">
        MAX_AMT = #{record.maxAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.floorAmt != null">
        FLOOR_AMT = #{record.floorAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.productList != null">
        PRODUCT_LIST = #{record.productList,jdbcType=VARCHAR},
      </if>
      <if test="record.partUse != null">
        PART_USE = #{record.partUse,jdbcType=CHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateUser != null">
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.useLimit != null">
        use_limit = #{record.useLimit,jdbcType=CHAR},
      </if>
      <if test="record.faceSetWay != null">
        FACE_SET_WAY = #{record.faceSetWay,jdbcType=CHAR},
      </if>
      <if test="record.isReturn != null">
        IS_RETURN = #{record.isReturn,jdbcType=CHAR},
      </if>
      <if test="record.availableUseCount != null">
        available_use_count = #{record.availableUseCount,jdbcType=INTEGER},
      </if>
      <if test="record.frontShow != null">
        front_show = #{record.frontShow,jdbcType=CHAR},
      </if>
      <if test="record.useCountLimit != null">
        use_count_limit = #{record.useCountLimit,jdbcType=CHAR},
      </if>
      <if test="record.frontTemplateName != null">
        FRONT_TEMPLATE_NAME = #{record.frontTemplateName,jdbcType=VARCHAR},
      </if>
      <if test="record.couponName != null">
        COUPON_NAME = #{record.couponName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_marketing_coupon_template_info
    set SEQ_ID = #{record.seqId,jdbcType=VARCHAR},
      COUPON_TEMPLATE_NAME = #{record.couponTemplateName,jdbcType=VARCHAR},
      USE_TYPE = #{record.useType,jdbcType=CHAR},
      PERIOD_TYPE = #{record.periodType,jdbcType=CHAR},
      PERIOD_START = #{record.periodStart,jdbcType=VARCHAR},
      PERIOD_END = #{record.periodEnd,jdbcType=VARCHAR},
      DEDUCTION_TYPE = #{record.deductionType,jdbcType=CHAR},
      STATUS = #{record.status,jdbcType=CHAR},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      DEDUCTION_VALUE = #{record.deductionValue,jdbcType=DECIMAL},
      DEDUCTION_RULE = #{record.deductionRule,jdbcType=CHAR},
      MAX_AMT = #{record.maxAmt,jdbcType=DECIMAL},
      FLOOR_AMT = #{record.floorAmt,jdbcType=DECIMAL},
      PRODUCT_LIST = #{record.productList,jdbcType=VARCHAR},
      PART_USE = #{record.partUse,jdbcType=CHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=BIGINT},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=BIGINT},
      use_limit = #{record.useLimit,jdbcType=CHAR},
      FACE_SET_WAY = #{record.faceSetWay,jdbcType=CHAR},
      IS_RETURN = #{record.isReturn,jdbcType=CHAR},
      available_use_count = #{record.availableUseCount,jdbcType=INTEGER},
      front_show = #{record.frontShow,jdbcType=CHAR},
      use_count_limit = #{record.useCountLimit,jdbcType=CHAR},
      FRONT_TEMPLATE_NAME = #{record.frontTemplateName,jdbcType=VARCHAR},
      COUPON_NAME = #{record.couponName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ligq.study.mybatis.demo.model.TMarketingCouponTemplateInfo">
    update t_marketing_coupon_template_info
    <set>
      <if test="couponTemplateName != null">
        COUPON_TEMPLATE_NAME = #{couponTemplateName,jdbcType=VARCHAR},
      </if>
      <if test="useType != null">
        USE_TYPE = #{useType,jdbcType=CHAR},
      </if>
      <if test="periodType != null">
        PERIOD_TYPE = #{periodType,jdbcType=CHAR},
      </if>
      <if test="periodStart != null">
        PERIOD_START = #{periodStart,jdbcType=VARCHAR},
      </if>
      <if test="periodEnd != null">
        PERIOD_END = #{periodEnd,jdbcType=VARCHAR},
      </if>
      <if test="deductionType != null">
        DEDUCTION_TYPE = #{deductionType,jdbcType=CHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="deductionValue != null">
        DEDUCTION_VALUE = #{deductionValue,jdbcType=DECIMAL},
      </if>
      <if test="deductionRule != null">
        DEDUCTION_RULE = #{deductionRule,jdbcType=CHAR},
      </if>
      <if test="maxAmt != null">
        MAX_AMT = #{maxAmt,jdbcType=DECIMAL},
      </if>
      <if test="floorAmt != null">
        FLOOR_AMT = #{floorAmt,jdbcType=DECIMAL},
      </if>
      <if test="productList != null">
        PRODUCT_LIST = #{productList,jdbcType=VARCHAR},
      </if>
      <if test="partUse != null">
        PART_USE = #{partUse,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="useLimit != null">
        use_limit = #{useLimit,jdbcType=CHAR},
      </if>
      <if test="faceSetWay != null">
        FACE_SET_WAY = #{faceSetWay,jdbcType=CHAR},
      </if>
      <if test="isReturn != null">
        IS_RETURN = #{isReturn,jdbcType=CHAR},
      </if>
      <if test="availableUseCount != null">
        available_use_count = #{availableUseCount,jdbcType=INTEGER},
      </if>
      <if test="frontShow != null">
        front_show = #{frontShow,jdbcType=CHAR},
      </if>
      <if test="useCountLimit != null">
        use_count_limit = #{useCountLimit,jdbcType=CHAR},
      </if>
      <if test="frontTemplateName != null">
        FRONT_TEMPLATE_NAME = #{frontTemplateName,jdbcType=VARCHAR},
      </if>
      <if test="couponName != null">
        COUPON_NAME = #{couponName,jdbcType=VARCHAR},
      </if>
    </set>
    where SEQ_ID = #{seqId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ligq.study.mybatis.demo.model.TMarketingCouponTemplateInfo">
    update t_marketing_coupon_template_info
    set COUPON_TEMPLATE_NAME = #{couponTemplateName,jdbcType=VARCHAR},
      USE_TYPE = #{useType,jdbcType=CHAR},
      PERIOD_TYPE = #{periodType,jdbcType=CHAR},
      PERIOD_START = #{periodStart,jdbcType=VARCHAR},
      PERIOD_END = #{periodEnd,jdbcType=VARCHAR},
      DEDUCTION_TYPE = #{deductionType,jdbcType=CHAR},
      STATUS = #{status,jdbcType=CHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      DEDUCTION_VALUE = #{deductionValue,jdbcType=DECIMAL},
      DEDUCTION_RULE = #{deductionRule,jdbcType=CHAR},
      MAX_AMT = #{maxAmt,jdbcType=DECIMAL},
      FLOOR_AMT = #{floorAmt,jdbcType=DECIMAL},
      PRODUCT_LIST = #{productList,jdbcType=VARCHAR},
      PART_USE = #{partUse,jdbcType=CHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=BIGINT},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=BIGINT},
      use_limit = #{useLimit,jdbcType=CHAR},
      FACE_SET_WAY = #{faceSetWay,jdbcType=CHAR},
      IS_RETURN = #{isReturn,jdbcType=CHAR},
      available_use_count = #{availableUseCount,jdbcType=INTEGER},
      front_show = #{frontShow,jdbcType=CHAR},
      use_count_limit = #{useCountLimit,jdbcType=CHAR},
      FRONT_TEMPLATE_NAME = #{frontTemplateName,jdbcType=VARCHAR},
      COUPON_NAME = #{couponName,jdbcType=VARCHAR}
    where SEQ_ID = #{seqId,jdbcType=VARCHAR}
  </update>
</mapper>