<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligq.study.mybatis.demo.dao.TProductIntroduceMapper">
  <resultMap id="BaseResultMap" type="com.ligq.study.mybatis.demo.model.TProductIntroduce">
    <id column="SEQ_ID" jdbcType="VARCHAR" property="seqId" />
    <result column="H5_AD_FILE_ID" jdbcType="VARCHAR" property="h5AdFileId" />
    <result column="PC_AD_FILE_ID" jdbcType="VARCHAR" property="pcAdFileId" />
    <result column="H5_BG_FILE_ID" jdbcType="VARCHAR" property="h5BgFileId" />
    <result column="PC_BG_FILE_ID" jdbcType="VARCHAR" property="pcBgFileId" />
    <result column="TEMPLATE_CODE" jdbcType="VARCHAR" property="templateCode" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="CREATE_TIME" jdbcType="BIGINT" property="createTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="UPDATE_TIME" jdbcType="BIGINT" property="updateTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ligq.study.mybatis.demo.model.TProductIntroduce">
    <result column="PC_INTRODUCE" jdbcType="LONGVARCHAR" property="pcIntroduce" />
    <result column="PC_DESC" jdbcType="LONGVARCHAR" property="pcDesc" />
    <result column="H5_INTRODUCE" jdbcType="LONGVARCHAR" property="h5Introduce" />
    <result column="H5_DESC" jdbcType="LONGVARCHAR" property="h5Desc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SEQ_ID, H5_AD_FILE_ID, PC_AD_FILE_ID, H5_BG_FILE_ID, PC_BG_FILE_ID, TEMPLATE_CODE, 
    PRODUCT_ID, CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER
  </sql>
  <sql id="Blob_Column_List">
    PC_INTRODUCE, PC_DESC, H5_INTRODUCE, H5_DESC
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.ligq.study.mybatis.demo.model.TProductIntroduceExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_product_introduce
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.ligq.study.mybatis.demo.model.TProductIntroduceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_product_introduce
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_product_introduce
    where SEQ_ID = #{seqId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_product_introduce
    where SEQ_ID = #{seqId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ligq.study.mybatis.demo.model.TProductIntroduceExample">
    delete from t_product_introduce
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ligq.study.mybatis.demo.model.TProductIntroduce">
    insert into t_product_introduce (SEQ_ID, H5_AD_FILE_ID, PC_AD_FILE_ID, 
      H5_BG_FILE_ID, PC_BG_FILE_ID, TEMPLATE_CODE, 
      PRODUCT_ID, CREATE_TIME, CREATE_USER, 
      UPDATE_TIME, UPDATE_USER, PC_INTRODUCE, 
      PC_DESC, H5_INTRODUCE, H5_DESC
      )
    values (#{seqId,jdbcType=VARCHAR}, #{h5AdFileId,jdbcType=VARCHAR}, #{pcAdFileId,jdbcType=VARCHAR}, 
      #{h5BgFileId,jdbcType=VARCHAR}, #{pcBgFileId,jdbcType=VARCHAR}, #{templateCode,jdbcType=VARCHAR}, 
      #{productId,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{createUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=BIGINT}, #{updateUser,jdbcType=VARCHAR}, #{pcIntroduce,jdbcType=LONGVARCHAR}, 
      #{pcDesc,jdbcType=LONGVARCHAR}, #{h5Introduce,jdbcType=LONGVARCHAR}, #{h5Desc,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ligq.study.mybatis.demo.model.TProductIntroduce">
    insert into t_product_introduce
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        SEQ_ID,
      </if>
      <if test="h5AdFileId != null">
        H5_AD_FILE_ID,
      </if>
      <if test="pcAdFileId != null">
        PC_AD_FILE_ID,
      </if>
      <if test="h5BgFileId != null">
        H5_BG_FILE_ID,
      </if>
      <if test="pcBgFileId != null">
        PC_BG_FILE_ID,
      </if>
      <if test="templateCode != null">
        TEMPLATE_CODE,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="pcIntroduce != null">
        PC_INTRODUCE,
      </if>
      <if test="pcDesc != null">
        PC_DESC,
      </if>
      <if test="h5Introduce != null">
        H5_INTRODUCE,
      </if>
      <if test="h5Desc != null">
        H5_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        #{seqId,jdbcType=VARCHAR},
      </if>
      <if test="h5AdFileId != null">
        #{h5AdFileId,jdbcType=VARCHAR},
      </if>
      <if test="pcAdFileId != null">
        #{pcAdFileId,jdbcType=VARCHAR},
      </if>
      <if test="h5BgFileId != null">
        #{h5BgFileId,jdbcType=VARCHAR},
      </if>
      <if test="pcBgFileId != null">
        #{pcBgFileId,jdbcType=VARCHAR},
      </if>
      <if test="templateCode != null">
        #{templateCode,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="pcIntroduce != null">
        #{pcIntroduce,jdbcType=LONGVARCHAR},
      </if>
      <if test="pcDesc != null">
        #{pcDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="h5Introduce != null">
        #{h5Introduce,jdbcType=LONGVARCHAR},
      </if>
      <if test="h5Desc != null">
        #{h5Desc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ligq.study.mybatis.demo.model.TProductIntroduceExample" resultType="java.lang.Long">
    select count(*) from t_product_introduce
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_product_introduce
    <set>
      <if test="record.seqId != null">
        SEQ_ID = #{record.seqId,jdbcType=VARCHAR},
      </if>
      <if test="record.h5AdFileId != null">
        H5_AD_FILE_ID = #{record.h5AdFileId,jdbcType=VARCHAR},
      </if>
      <if test="record.pcAdFileId != null">
        PC_AD_FILE_ID = #{record.pcAdFileId,jdbcType=VARCHAR},
      </if>
      <if test="record.h5BgFileId != null">
        H5_BG_FILE_ID = #{record.h5BgFileId,jdbcType=VARCHAR},
      </if>
      <if test="record.pcBgFileId != null">
        PC_BG_FILE_ID = #{record.pcBgFileId,jdbcType=VARCHAR},
      </if>
      <if test="record.templateCode != null">
        TEMPLATE_CODE = #{record.templateCode,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null">
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.createUser != null">
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateUser != null">
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.pcIntroduce != null">
        PC_INTRODUCE = #{record.pcIntroduce,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.pcDesc != null">
        PC_DESC = #{record.pcDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.h5Introduce != null">
        H5_INTRODUCE = #{record.h5Introduce,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.h5Desc != null">
        H5_DESC = #{record.h5Desc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_product_introduce
    set SEQ_ID = #{record.seqId,jdbcType=VARCHAR},
      H5_AD_FILE_ID = #{record.h5AdFileId,jdbcType=VARCHAR},
      PC_AD_FILE_ID = #{record.pcAdFileId,jdbcType=VARCHAR},
      H5_BG_FILE_ID = #{record.h5BgFileId,jdbcType=VARCHAR},
      PC_BG_FILE_ID = #{record.pcBgFileId,jdbcType=VARCHAR},
      TEMPLATE_CODE = #{record.templateCode,jdbcType=VARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=BIGINT},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=BIGINT},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      PC_INTRODUCE = #{record.pcIntroduce,jdbcType=LONGVARCHAR},
      PC_DESC = #{record.pcDesc,jdbcType=LONGVARCHAR},
      H5_INTRODUCE = #{record.h5Introduce,jdbcType=LONGVARCHAR},
      H5_DESC = #{record.h5Desc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_product_introduce
    set SEQ_ID = #{record.seqId,jdbcType=VARCHAR},
      H5_AD_FILE_ID = #{record.h5AdFileId,jdbcType=VARCHAR},
      PC_AD_FILE_ID = #{record.pcAdFileId,jdbcType=VARCHAR},
      H5_BG_FILE_ID = #{record.h5BgFileId,jdbcType=VARCHAR},
      PC_BG_FILE_ID = #{record.pcBgFileId,jdbcType=VARCHAR},
      TEMPLATE_CODE = #{record.templateCode,jdbcType=VARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=BIGINT},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=BIGINT},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ligq.study.mybatis.demo.model.TProductIntroduce">
    update t_product_introduce
    <set>
      <if test="h5AdFileId != null">
        H5_AD_FILE_ID = #{h5AdFileId,jdbcType=VARCHAR},
      </if>
      <if test="pcAdFileId != null">
        PC_AD_FILE_ID = #{pcAdFileId,jdbcType=VARCHAR},
      </if>
      <if test="h5BgFileId != null">
        H5_BG_FILE_ID = #{h5BgFileId,jdbcType=VARCHAR},
      </if>
      <if test="pcBgFileId != null">
        PC_BG_FILE_ID = #{pcBgFileId,jdbcType=VARCHAR},
      </if>
      <if test="templateCode != null">
        TEMPLATE_CODE = #{templateCode,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="pcIntroduce != null">
        PC_INTRODUCE = #{pcIntroduce,jdbcType=LONGVARCHAR},
      </if>
      <if test="pcDesc != null">
        PC_DESC = #{pcDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="h5Introduce != null">
        H5_INTRODUCE = #{h5Introduce,jdbcType=LONGVARCHAR},
      </if>
      <if test="h5Desc != null">
        H5_DESC = #{h5Desc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SEQ_ID = #{seqId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ligq.study.mybatis.demo.model.TProductIntroduce">
    update t_product_introduce
    set H5_AD_FILE_ID = #{h5AdFileId,jdbcType=VARCHAR},
      PC_AD_FILE_ID = #{pcAdFileId,jdbcType=VARCHAR},
      H5_BG_FILE_ID = #{h5BgFileId,jdbcType=VARCHAR},
      PC_BG_FILE_ID = #{pcBgFileId,jdbcType=VARCHAR},
      TEMPLATE_CODE = #{templateCode,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=BIGINT},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=BIGINT},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      PC_INTRODUCE = #{pcIntroduce,jdbcType=LONGVARCHAR},
      PC_DESC = #{pcDesc,jdbcType=LONGVARCHAR},
      H5_INTRODUCE = #{h5Introduce,jdbcType=LONGVARCHAR},
      H5_DESC = #{h5Desc,jdbcType=LONGVARCHAR}
    where SEQ_ID = #{seqId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ligq.study.mybatis.demo.model.TProductIntroduce">
    update t_product_introduce
    set H5_AD_FILE_ID = #{h5AdFileId,jdbcType=VARCHAR},
      PC_AD_FILE_ID = #{pcAdFileId,jdbcType=VARCHAR},
      H5_BG_FILE_ID = #{h5BgFileId,jdbcType=VARCHAR},
      PC_BG_FILE_ID = #{pcBgFileId,jdbcType=VARCHAR},
      TEMPLATE_CODE = #{templateCode,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=BIGINT},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=BIGINT},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR}
    where SEQ_ID = #{seqId,jdbcType=VARCHAR}
  </update>
</mapper>