<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligq.study.mybatis.demo.dao.TTestEdiCompareDetailMapper">
  <resultMap id="BaseResultMap" type="com.ligq.study.mybatis.demo.model.TTestEdiCompareDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="compare_id" jdbcType="BIGINT" property="compareId" />
    <result column="line" jdbcType="VARCHAR" property="line" />
    <result column="nc_message" jdbcType="VARCHAR" property="ncMessage" />
    <result column="gm2_message" jdbcType="VARCHAR" property="gm2Message" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
</mapper>