<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligq.study.mybatis.demo.dao.TNoticeTemplateMapper">
  <resultMap id="BaseResultMap" type="com.ligq.study.mybatis.demo.model.TNoticeTemplate">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TEMPLATE_KEY" jdbcType="VARCHAR" property="templateKey" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="template_status" jdbcType="CHAR" property="templateStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_notice_template
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ligq.study.mybatis.demo.model.TNoticeTemplate">
    insert into t_notice_template (ID, TEMPLATE_KEY, TITLE, 
      create_user, create_time, update_user, 
      update_time, template_status, remark, 
      CONTENT)
    values (#{id,jdbcType=VARCHAR}, #{templateKey,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=BIGINT}, #{templateStatus,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ligq.study.mybatis.demo.model.TNoticeTemplate">
    update t_notice_template
    set TEMPLATE_KEY = #{templateKey,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=BIGINT},
      template_status = #{templateStatus,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, TEMPLATE_KEY, TITLE, create_user, create_time, update_user, update_time, 
    template_status, remark, CONTENT
    from t_notice_template
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, TEMPLATE_KEY, TITLE, create_user, create_time, update_user, update_time, 
    template_status, remark, CONTENT
    from t_notice_template
  </select>
</mapper>