<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligq.study.mybatis.demo.dao.TNoticeInfoMapper">
  <resultMap id="BaseResultMap" type="com.ligq.study.mybatis.demo.model.TNoticeInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SEQ_ID" jdbcType="VARCHAR" property="seqId" />
    <result column="NOTICE_TYPE" jdbcType="CHAR" property="noticeType" />
    <result column="PERIOD_START" jdbcType="TIMESTAMP" property="periodStart" />
    <result column="PERIOD_END" jdbcType="TIMESTAMP" property="periodEnd" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="NOTICE_TIMES" jdbcType="BIGINT" property="noticeTimes" />
    <result column="NOTIFIED_TIMES" jdbcType="BIGINT" property="notifiedTimes" />
    <result column="BIZ_ID" jdbcType="VARCHAR" property="bizId" />
    <result column="NOTICE_METHOD" jdbcType="CHAR" property="noticeMethod" />
    <result column="NOTICE_VALUE" jdbcType="VARCHAR" property="noticeValue" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="BIGINT" property="createTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
</mapper>